# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- Learn about commonly used Data Science libraries
- Create tables in Jupyter Notebooks
- Evaluate arithmetic expression in Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL etc.

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| R Studio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author 
Vikas Rayala